
<div class = "welcom_home_wrapper">
<div class = "welcom_home_left">
</div>

<div class = "welcom_home_center">


<div class = "welcom_home_center_1">


</div>

<div class = "welcom_home_center_2">


</div>
</div>

<div class = "welcom_home_right">

<p class = "student_enter">
    <%= link_to "学生用入り口",@login_url  %>
</p>

<p class = "teacher_enter">
    <%= link_to "教員用入り口",@login_url  %>
</p>

<p class = "staff_enter">
    <%= link_to "事務員用入り口",@login_url  %>
</p>

<p class = "admin_enter">
    <%= link_to "管理者用入り口",admin_homes_path  %>

</p>
</div>

</div>

