<h1>授業わかるんシステムへようこそ</h1>


<p>
    <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">学生の入口</a>
</p>


<p>
    <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">教員の入口</a>
</p>

<p>
    <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">事務員の入口</a>
</p>

<p>
    <a class="btn btn-lg btn-primary" href="/admin/rogin" role="button" id="connect-button">管理者の入口</a>
</p>

