<div class = "error_all_margin_arrea">
<div class = "error_margin_area">
<div class = "error_form_area">
<p>本システムに登録されていない</p>
<p>メールアドレスです。</p>
<p>管理者に問い合わせください</p>
</div>
</div>
<p class = "error_exit_link">
<%= link_to 'EXIT', '../welcom/home' %>
</p>
</div>