<h1>Student's Page</h1>
<p>
	<div class="container">
		一般講義登録：
		<div class="row">
			エクセルファイルのダウンロード：
			<button type="button" class="btn btn-default">ダウンロード</button>
		</div>
		<div class="row">
		    <form class="form-inline">
		        <div class="form-group">
    	       		<input type="text" name="file" class="form-control" placeholder="ファイル名">
    	       	</div>
    	    </form>
			<button type="button" class="btn btn-default">ファイル選択</button>
		</div>
		<div class="row">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-default">アップロード</button>
				<button type="button" class="btn btn-default" onClick="location.href='student_homes'">戻る</button>
			</div>
		</div>
	</div>
</p>