<h1>事務員一覧</h1>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>メールアドレス</th>
            <th>削除</th>
        </tr>
    </thead>
    <tbody>
        <% @staffs.each do |s| %>
        <tr>
            <td><%= s.email %></td>
            <td><%= link_to 'Destroy', admin_operate_staff_path(s.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}%></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "戻る", admin_homes_path, class: "btn btn-outline-secondary"%>
