<div id = 'staff'>
  <div id = 'contents'>
<h3>学年暦一覧:</h3>
<div class = 'margin_area'>
<div class = 'form_area'>
  <% if @calendars.count <= 0 %>
  <h3>学年暦が登録されていません。</h3>
  <%else%>
<table class='table'>
  <thead class="thead-inverse">
    <tr>
      <th>日付</th>
      <th>日付名</th>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each do |calendar| %>
   <tr>
     <td><%= calendar.no_lecture_date %></td>
     <td><%= calendar.date_name %></td>
     <td><%= button_to '削除',{action: :destroy,id: calendar.id},method: :delete,class: 'btn btn-danger' %></td>
   </tr>
   <%end%>
 </tbody>
</table>
<div class = 'pagenate_area'><%= paginate @calendars %></div>
<%end%>
</div>
</div>
</div>
<!--end of contents-->
</div>
<!--end of staff-->
