<div id = 'staff'>
  <div id = 'contents'>
<h3>講義バックアップ:</h3>
<div class = 'margin_area'>
<div class = 'form_area'>
  <p>ボタンをクリック後ダウンロードを開始します。</p>
<div class = 'backup'>
  <%= button_to 'ダウンロード開始',{action: :download},{class:'btn btn-primary', role:'button'} %>
</div>
<!--end of backup-->
</div>
</div>
  </div>
</div>
