<h1>講義一覧と検索</h1>
<table class='table'>
  <thead class="thead-inverse">
    <tr>
      <th>講義名</th>
      <th>教員名</th>
      <th>曜日</th>
      <th>限</th>
    </tr>
  </thead>
  <tbody>
    <% @lectures.each do |lecture|%>
   <tr>
     <td><%= lecture.name %></td>
     <td>
       <% lecture.teachers.each do |a| %>
         <%= a.name%>
         <%end%>
     </td>
     <td><%= lecture.day %></td>
     <td><%= lecture.period %></td>
   </tr>
   <%end%>
 </tbody>
</table>
