<div id = 'staff'>
<div id = 'contents'>
  <h3>講義登録:</h3>
<div class = 'margin_area'>
  <div class = 'form_area'>
<%= form_tag({controller: "staff_operate_lectures", action: "create", method: "post"}, {multipart: true}) do %>
  <p><%= file_field_tag :file %></p>
</div>
</div>
  <div class = 'submit'>
    <%= submit_tag "アップロード",class: 'btn btn-primary', role:'button',data: { confirm: "講義を登録してもよろしいですか？"} %>
  </div>
<% end %>
</div>
</div>
