<h1>レポート一覧</h1>
<%if @reports.count == 0 %>
  <h1>レポートが登録されていません。</h1>
<%else%>
  レポート一覧:
  <table class="table table-striped">
    <thead>
      <tr>
        <th>講義名</th>
        <th>レポート名</th>
        <th>月</th>
        <th>日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <th><%= report.lecture.name %></th>
          <th><%= report.title %></th>
          <th><%#= report.deadline_date.(2i) %></th>
          <th><%#= report.deadline_date.(3i) %></th>
          <th>削除ボタン
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-9">

    </div>
    <div class="col-md-3">
      <%= button_to "戻る", {controller:'teacher_homes', action:'index'}, {method: :get, class: "btn btn-primary"} %>
    </div>
  </div>
</div>
