<h1>教員一覧</h1>
<table>
    <thead>
        <tr>
            <th>教員名</th>
            <th>メールアドレス</th>
        </tr>
    </thead>
    <tbody>
        <% @teachers.each do |t| %>
        <tr>
            <td><%= t.name %></td>
            <td><%= t.email %></td>
            <td><%= link_to 'Destroy', admin_operate_teacher_path(t.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
        </tr>
        <% end %>
    </tbody>
</table>
